@{
    ViewData["Title"] = "Правила игры в Покер планирования";
}
<h1>@ViewData["Title"]</h1>
<hr />
<p>
    <ul style="box-shadow">
        <li>
            Владелец продукта выбирает элемент для оценивания из Бэклога продукта и читает его описание команде.
        </li>
        <li>
            Члены Команды разработки обсуждают элемент и задают уточняющие вопросы Владельцу продукта, который отвечает на них.
        </li>
        <li>
            Каждый оценивающий тайно выбирает карту, соответствующую его оценке.
        </li>
        <li>
            Как только каждый оценивающий выберет тайно нужную карту, все оценивающие одновременно показывают свои карты, обозначающие их личные оценки.
        </li>
        <li>
            Если все оценивающие выберут одинаковую карту, значит, согласие достигнуто, и согласованное число становится оценкой данного элемента Бэклога.
        </li>
        <li>
            Если же оценки расходятся, члены команды приступают к обсуждению, чтобы выявить любые недоразумения и высказать свои предположения.
        </li>
        <li>
            Как правило, обсуждение начинается с просьбы к тем оценивающим, которые поставили высокие и низкие оценки, пояснить или обосновать свои оценки.
        </li>
        <li>
            После обсуждения происходит возврат к п.З, и процедура повторяется до тех пор, пока не будет достигнуто общее согласие.
        </li>
        <hr />
<p>Источник:</p>
<p>Основы Scrum. Практическое руководство по гибкой разработке. Кеннет С. Рубин 2016.</p>
<p>Scrum Гибкая разработка ПО. Майк Кон 2016</p>
    </ul>

</p>
