@model IEnumerable<PlanningPoker.Models.RoomListModel>
@{
    ViewData["Title"] = "RoomsList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table" align="center" style="text-align:center;">
    <tr>
        <td>
            Id
        </td>
        <td width="400px">
            Название
        </td>
        <td width="100px">
            Участники
        </td>
        <td>
            +
        </td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Id
            </td>
            <td>
                @item.Title
            </td>
            <td>
                @item.Count
            </td>

            <td>
                <a asp-action="" asp-route-id="@item.Id">Join</a>
            </td>

        </tr>
    }



</table>
