.Okno {
    height: 350px;
    width: 400px;
    overflow: scroll;
}

.OknoFull {
    box-shadow: 0 4px 10px cadetblue;
    border: 1px solid;
    border-color: cadetblue;
    background-color: aliceblue;
    height: 450px;
    width: 403px;
    margin-top: 20px;
    margin-bottom: 30px;
}
