@model IEnumerable<PlanningPoker.Player>

<table class="tableUserOnline">
    <tr class="nametableOnline"> Online пользователи:</tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
               @if(item.Role == 2)
               {
                   <p class="admin">@item.Name (admin)</p>
               }
               else
               {
                    <p class="user">@item.Name</p>
               }
            </td>
            <td>
                @if (item.IsOnline)
                {
                    <p>online</p>

                }
                else
                {
                    <p>offline</p>
                }
            </td>
        </tr>
    }
</table>
